.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 30px;
  grid-template-areas:
    "nav"
    "hd"
    "main"
    "ft";
}

.header {
  /* row start/column start/ row end/ column end */
  grid-area: hd;
  background: var(--dark-blue);
  color: var(--white);
  padding: var(--base-padding);
  font-size: 0.5em;
}

nav {
  grid-area: nav;
  background: var(--medium-blue);
}

.content {
  grid-area: main;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: var(--base-padding);
}

.menu li a {
  display: block;
  text-decoration: none;
  color: var(--white);
}

.menu li.toggle {
  order: 1;
  font-size: 20px;
}

.menu li.item {
  order: 2;
  width: 100%;
  padding: 15px 5px;
  text-align: center;
  display: none;
}

.menu.active .item {
  display: block;
}

/* Post */

.post-container {
  margin: 20px;
}

.post-container ul {
  list-style-position: inside;
}

/* Footer */

.footer {
  grid-area: ft;
  background: var(--dark-blue);
  color: var(--white);
  padding: var(--base-padding);
  font-size: 1em;
  text-align: right;
  height: 20px;
}